.news {
  position: relative;
  width: 100%;
  height: 450px;
  padding: 55px 0;
  background-color: rgb(255, 51, 0);
}
.news-bg {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 50%;
  transform: translate(-50%);
}
.news-inner {
    width: 100%;
  display: flex;
  position: relative;
  justify-content: center;
  gap: 100px;
}

.news-wrap {
  margin-top: 20px;
  position: relative;
  width: 50%;
  /* background-color: aqua; */
}
.news-wrap h3 {
  font-size: 32px;
  color: aliceblue;
}
.news-wrap a {
  color: aliceblue;
}
.news-list {
  position: relative;
  margin-top: 20px;
}
.news-list li {

  position: relative;
  padding: 24px 0;
  border-top: 1px solid #e77277;
  border-top: 1px solid rgba(255, 255, 255, 0.3);
}
.news-list li:last-child {
  border-bottom: 1px solid rgba(255, 255, 255, 0.3);
}
.news-list li a::after {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  width: 48px;
  height: 23px;
  background: url(../images/bg_common.png) no-repeat;
  background-position: 0px -49px;
}
.news-txt {
  display: block;
  width: 70%;
  /* 말줄임 표시 */
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}
